body {
  font-family: 'Ubuntu', sans-serif;
}

.header {
  width: 950px;
  height: 60px;
  float: right;
  margin-bottom: 20px;
  margin-top: 10px;
}

.container .header h1 {
  display: inline-block;
  float: left;
  font-size: 34px;
  margin: 0;
}

.header .navigation {
  display: inline-block;
  margin: 0;
  float: right;
  padding: 0 75px 0 0;
}

.image {
  display: inline-block;
  position: fixed;
  padding-left: 0;
  padding-top: 0px;
}

.text_above {
  float: right;
  color: #4e4a4c;
  margin: 0;
  padding: 80px 0px;
  font-size: 24px;

}

.text_above li {
  list-style: none;
  padding: 0px 0px 15px 60px;
}

 .text_above .box{
   background: linear-gradient(to right, #22c8f4, #0eebdd );
   width: 950px;
   height: 300px;
   display: inline-block;
   text-align: left;
   /*position: absolute;*/
   float: right;
   left: 600px;
   right: 50px;
   bottom: 525px;
   top: 100px;
}
.text_above .box h2 {
  padding: 0px 15px 5px 45px;
  font-weight: bold;
  font-size: 30px;
}

.text_below .box2 {
  background: linear-gradient(to right, #dd4414, #cb9326);
  color: #d7d1d6;
  width: 950px;
  height: 300px;
  display: inline-block;
  float: right;
  text-align: left;
  right: 55px;
  bottom: 10px;
  top: 415px;
 }


.text_below .box2 h2 {
  padding: 0px 15px 0 15px;
  font-weight: bold;
  font-size: 30px;
}



.text_below li {
  padding: 10px 0;
  list-style: none;
  padding: 0px 0px 15px 60px;
  font-size: 24px;
}

.text_below ul {
  list-style: none;
}

.projects {
  display:inline-block;
  width: 950px;
  height: 200px;
  /*position: absolute;*/
  right: 55px;
  bottom: 10px;
  top: 10px;
  left: 150px;

}

.box2 .projects .P1 {
  display:inline-block;
  width: 200px;
  height: 80px;
  padding: 0 0 100px 20px;
  margin-top: 0
}

.projects .P2 {
  display:inline-block;
  width: 200px;
  height: 80px;
  padding: 0 0 0 50px;
}

.box2 .projects .P3 {
  display:inline-block;
  width: 200px;
  height: 80px;
  padding: 0 0 200px 100px;
}
